In [ ]:
# Este es un ejemplo de celda de código en el notebook
print('¡Hola, Madrid!')

# Análisis de Datos de Madrid
Este notebook explora los datos demográficos, económicos y sociales de Madrid.